{% extends 'base.html' %}
{% block content %}
<div class="jumbotron text-center">
    <div class="containter" style="width: 100%">
        <h1>Success!</h1>
        <a href="{% url 'addBudget' %}"><button type="button" class="btn btn-outline-dark btn-large">Add Budget</button></a>
        <a href="{% url 'addCategory' %}"><button type="button" class="btn btn-outline-dark btn-large">Add Category</button></a>
        <a href="{% url 'addLimit' %}"><button type="button" class="btn btn-outline-dark btn-large">Add Limit</button></a>
        <a href="{% url 'addExpense' %}"><button type="button" class="btn btn-outline-dark btn-large">Add Expense</button></a>
        {% if user.is_superuser %}
            <a href="{% url 'admin:index' %}"><button type="button" class="btn btn-outline-dark btn-large">View Database</button></a>
        {% endif %}
        <hr>
        <a href="{% url 'dashboard' %}"><button type="button" class="btn btn-outline-dark btn-large">Dashboard</button></a>
        <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-dark btn-large">Logout</button></a>
    </div>
</div>
{% endblock %}