/* Messages after modifying database */
.error {
    background-color: lightcoral;
    color: rgb(238, 57, 57);
    text-align: center;
}
.success {
    background-color: lightgreen;
    color: rgb(61, 160, 61);
    text-align: center;
}