{% extends 'dashboard.html' %}
{% block budgetData %}

{% for budget in budgets %}
    <div class="card">
        <div class="card-header">
            <!-- <div class="col-lg-12"> -->
                <h1>Budget name: {{ budget.name }}</h1>
                <ul>
                    <li>Start and end date: {{ budget.startDate }} to {{ budget.endDate }}</li>
                    <li>Percentage of budget used: <em>Calculate</em></li>
                </ul>
            <!-- </div> -->
        </div>
    <!-- </div> -->
    <div class="card-body">
    {% for limit in limits %}
        <!-- <div class="container"> -->
            <!-- <div class="row"> -->
        <!-- <p>{{budget.budgetID}}, {{limit.budgetID.budgetID}}</p> -->
        {% if budget.budgetID == limit.budgetID.budgetID %}
            <h1>Category: {{ limit.category }}</h1>
            <ul>
                <li>Amount: {{ limit.amount }}</li>
            </ul>
            {% for item in expenses %}
                {% if item.budgetID.budgetID == budget.budgetID %}
                    {% if item.category == limit.category %}
                        <b><p>Place: {{ item.title }}</p></b>
                        <p>Description: {{ item.description }}</p>
                        <p>Date: {{item.date }}</p>
                        <p>Amount: {{item.amount }}</p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
            <!-- </div> -->
        
    {% endfor %}
    </div>
{% endfor %}
</div>
{% endblock %}